<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Dashboard - DatabaseBackupTool</title>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/dashboard.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Database Backup Tool</a>
    <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/api/logout">Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav nav-tabs flex-column" id="barTabs" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="dashboard-tab" data-toggle="tab" href="#dashboard" role="tab"
                           aria-controls="dashboard" aria-selected="true">
                            <img src="images/home-tab-icon.png" alt="" width="20px" height="20px">
                            Home <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="storage-tab" data-toggle="tab" href="#storage" role="tab"
                           aria-controls="storage" aria-selected="false">
                            <img src="images/storage-tab-icon.png" alt="" width="20px" height="20px">
                            Manage storages
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="database-tab" data-toggle="tab" href="#database" role="tab"
                           aria-controls="database" aria-selected="false">
                            <img src="images/database-tab-icon.png" alt="" width="20px" height="20px">
                            Manage databases
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="create-backup-tab" data-toggle="tab" href="#create-backup" role="tab"
                           aria-controls="create-backup" aria-selected="false">
                            <img src="images/createBackup-tab-icon1.png" alt="" width="20px" height="20px">
                            Create Backup
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="restore-backup-tab" data-toggle="tab" href="#restore-backup" role="tab"
                           aria-controls="restore-backup" aria-selected="false">
                            <img src="images/restoreBackup-tab-icon.png" alt="" width="20px" height="20px">
                            Restore Backup
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <div style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;"
                 class="chartjs-size-monitor">
                <div class="chartjs-size-monitor-expand"
                     style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                    <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                </div>
                <div class="chartjs-size-monitor-shrink"
                     style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                    <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                </div>
            </div>

            <!--Tab Content-->
            <div class="tab-content" id="barTabsContent">
                <div class="tab-pane fade show active" id="dashboard" role="tabpanel" aria-labelledby="dashboard">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h2>Dashboard</h2>
                    </div>
                </div>
                <div class="tab-pane fade" id="storage" role="tabpanel" aria-labelledby="storage">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h2>Manage Storages</h2>
                    </div>

                    <div id="manageStoragesButtonsWrapper">
                        <div class="nav d-flex flex-row-reverse bd-highlight">
                            <a type="button" data-toggle="tab" href="#configureStorageFormWrapper" aria-selected="false"
                               class="btn btn-outline-secondary" id="addNewStorageButton" role="tab">
                                Add new storage
                            </a>
                            <a type="button" data-toggle="tab" href="#storageListWrapper" aria-selected="true"
                               class="btn btn-outline-primary mr-auto active" id="closeAddNewStorageFormButton" role="tab">
                                Storage List
                            </a>
                        </div>
                    </div>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="storageListWrapper" role="tabpanel">
                            <div id="storageListTable">
                                <table class="table table-hover table-bordered">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col" class="col-md-2">Storage</th>
                                        <th scope="col" class="col-md-6">Description</th>
                                        <th scope="col" class="col-md-3">Creation time</th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="storage: ${storageList}" th:object="${storage}" class="storageItem"
                                        th:attr="data-id=*{id}">
                                        <th scope="row" th:text="*{type}"></th>
                                        <td th:text="*{desc}"></td>
                                        <td th:text="*{time}"></td>
                                        <td>
                                            <div class="d-flex flex-row-reverse bd-highlight">
                                                <button type="button" class="btn btn-secondary" onclick="removeStorage(this)">
                                                    Remove
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="configureStorageFormWrapper" role="tabpanel">
                            <form id="configureStorageForm" action="/storage" method="post">
                                <div class="form-group">
                                    <label for="configureStorage.selectStorage">Select Storage</label>
                                    <select class="form-control" name="storageType" id="configureStorage.selectStorage" required>
                                        <option value="" selected>Select Storage</option>
                                        <option value="localFileSystem" id="localFileSystemStorageSelect">Local File System</option>
                                        <option value="dropbox" id="dropboxStorageSelect">Dropbox</option>
                                    </select>
                                </div>

                                <!--Storage select based content-->
                                <div id="selectStorageContent">
                                    <div class="localFileSystemStorageSelect box">
                                        <div class="form-group">
                                            <label for="localFileSystemStorageBackupPathInput">Backup location</label>
                                            <input type="text" class="form-control form-control-sm"
                                                   id="localFileSystemStorageBackupPathInput"
                                                   name="localFileSystemSettings.backupPath"
                                                   aria-describedby="localFileSystemStorageBackupPathHelp"
                                                   placeholder="">
                                            <small id="localFileSystemStorageBackupPathHelp" class="form-text text-muted">
                                                Absolute path to folder where backup should be saved into
                                            </small>
                                        </div>
                                    </div>
                                    <div class="dropboxStorageSelect box">
                                        <div class="form-group">
                                            <label for="dropboxStorageAccessTokenInput">Dropbox access token</label>
                                            <input type="text" class="form-control form-control-sm" id="dropboxStorageAccessTokenInput"
                                                   name="dropboxSettings.accessToken" aria-describedby="dropboxStorageAccessTokenHelp"
                                                   placeholder="">
                                            <small id="dropboxStorageAccessTokenHelp" class="form-text text-muted">
                                                You can get access token from the app page on Dropbox
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Create storage</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="database" role="tabpanel" aria-labelledby="database">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h2>Manage Databases</h2>
                    </div>

                    <div id="manageDatabasesButtonsWrapper">
                        <div class="nav d-flex flex-row-reverse bd-highlight">
                            <a type="button" data-toggle="tab" href="#configureDatabaseFormWrapper" aria-selected="false"
                               class="btn btn-outline-secondary" id="addNewDatabaseButton" role="tab">
                                Add new database
                            </a>
                            <a type="button" data-toggle="tab" href="#databaseListWrapper" aria-selected="true"
                               class="btn btn-outline-primary mr-auto active" id="closeAddNewDatabaseFormButton" role="tab">
                                Database List
                            </a>
                        </div>
                    </div>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="databaseListWrapper" role="tabpanel">
                            <div id="databaseListTable">
                                <table class="table table-hover table-bordered">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th scope="col" class="col-md-2">Database</th>
                                        <th scope="col" class="col-md-6">Description</th>
                                        <th scope="col" class="col-md-3">Creation time</th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="database: ${databaseList}" th:object="${database}" class="databaseItem"
                                        th:attr="data-id=*{id}">
                                        <th scope="row" th:text="*{type}"></th>
                                        <td th:text="*{desc}"></td>
                                        <td th:text="*{time}"></td>
                                        <td>
                                            <div class="d-flex flex-row-reverse bd-highlight">
                                                <button type="button" class="btn btn-secondary" onclick="removeDatabase(this)">
                                                    Remove
                                                </button>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="configureDatabaseFormWrapper" role="tabpanel">
                            <form id="configureDatabaseForm" action="/database" method="post">
                                <div class="form-group">
                                    <label for="configureDatabase-selectDatabase">Select Database</label>
                                    <select class="form-control" name="databaseType" id="configureDatabase-selectDatabase" required>
                                        <option value="" selected>Select Database</option>
                                        <option value="postgres" id="postgresDatabaseSelect">Postgres</option>
                                    </select>
                                </div>

                                <div class="form-group" id="commonDatabaseInputFields">
                                    <label for="createDatabaseHostInput">Host</label>
                                    <input type="text" class="form-control form-control-sm" id="createDatabaseHostInput"
                                           name="host" placeholder="" required>
                                    <label for="createDatabasePortInput">Port</label>
                                    <input type="text" class="form-control form-control-sm" id="createDatabasePortInput"
                                           name="port" placeholder="" required>
                                    <label for="createDatabaseNameInput">Database name</label>
                                    <input type="text" class="form-control form-control-sm" id="createDatabaseNameInput"
                                           name="name" placeholder="" required>
                                    <label for="createDatabaseLoginInput">Database login</label>
                                    <input type="text" class="form-control form-control-sm" id="createDatabaseLoginInput"
                                           name="login" placeholder="" required>
                                    <label for="createDatabasePasswordInput">Database password</label>
                                    <input type="text" class="form-control form-control-sm" id="createDatabasePasswordInput"
                                           name="password"
                                           placeholder="" required>
                                </div>

                                <!--Database select based content-->
                                <div id="selectDatabaseContent">
                                    <div class="postgresDatabaseSelect box">

                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary">Create storage</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="tab-pane fade" id="create-backup" role="tabpanel" aria-labelledby="create-backup">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h2>Create Backup</h2>
                    </div>

                    <form id="createBackupForm" th:action="@{/create-backup}" method="post">

                        <label for="selectStorageForBackupList">Select storage</label>
                        <table class="table table-hover table-bordered" id="selectStorageForBackupList">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col" class="col-md-2">Storage</th>
                                <th scope="col" class="col-md-6">Description</th>
                                <th scope="col" class="col-md-3">Creation time</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="storage: ${storageList}" class="storageItem">
                                <td><input type="checkbox" name="checkStorageList" th:value="${storage.id}"></td>
                                <th scope="row" th:text="${storage.type}"></th>
                                <td th:text="${storage.desc}"></td>
                                <td th:text="${storage.time}"></td>
                            </tr>
                            </tbody>
                        </table>

                        <label for="selectDatabaseForBackupList">Select database</label>
                        <table class="table table-hover table-bordered" id="selectDatabaseForBackupList">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col"></th>
                                <th scope="col" class="col-md-2">Database</th>
                                <th scope="col" class="col-md-6">Description</th>
                                <th scope="col" class="col-md-3">Creation time</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="database: ${databaseList}" class="databaseItem">
                                <td><input type="checkbox" name="checkDatabaseList" th:value="${database.id}"></td>
                                <th scope="row" th:text="${database.type}"></th>
                                <td th:text="${database.desc}"></td>
                                <td th:text="${database.time}"></td>
                            </tr>
                            </tbody>
                        </table>

                        <button type="submit" class="btn btn-primary">Backup</button>
                    </form>
                </div>
                <div class="tab-pane fade" id="restore-backup" role="tabpanel" aria-labelledby="restore-backup">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h2>Restore Backup</h2>
                    </div>


                </div>
            </div>
        </main>
    </div>
</div>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/dashboard.js"></script>
<script src="js/selectContentShow.js"></script>
</body>
</html>