<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <title>Dashboard - Database Backup Tool</title>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/dashboard.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Database Backup Tool</a>
    <input aria-label="Search" class="form-control form-control-dark w-100" placeholder="Search" type="text">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/api/logout">Sign out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav nav-tabs flex-column" id="barTabs" role="tablist">
                    <li class="nav-item">
                        <a aria-controls="dashboard" aria-selected="true" class="nav-link active" data-toggle="tab" href="#dashboard"
                           id="dashboard-tab" role="tab">
                            <img alt="" height="20px" src="images/home-tab-icon.png" width="20px">
                            Home <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a aria-controls="storage" aria-selected="false" class="nav-link" data-toggle="tab" href="#storage"
                           id="storage-tab" role="tab">
                            <img alt="" height="20px" src="images/storage-tab-icon.png" width="20px">
                            Manage storages
                        </a>
                    </li>
                    <li class="nav-item">
                        <a aria-controls="database" aria-selected="false" class="nav-link" data-toggle="tab" href="#database"
                           id="database-tab" role="tab">
                            <img alt="" height="20px" src="images/database-tab-icon.png" width="20px">
                            Manage databases
                        </a>
                    </li>
                    <li class="nav-item">
                        <a aria-controls="create-backup" aria-selected="false" class="nav-link" data-toggle="tab" href="#create-backup"
                           id="create-backup-tab" role="tab">
                            <img alt="" height="20px" src="images/createBackup-tab-icon1.png" width="20px">
                            Create Backup
                        </a>
                    </li>
                    <li class="nav-item">
                        <a aria-controls="restore-backup" aria-selected="false" class="nav-link" data-toggle="tab" href="#restore-backup"
                           id="restore-backup-tab" role="tab">
                            <img alt="" height="20px" src="images/restoreBackup-tab-icon.png" width="20px">
                            Restore Backup
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main">
            <!--Tab Content-->
            <div class="tab-content" id="barTabsContent">
                <div aria-labelledby="dashboard" class="tab-pane fade show active" id="dashboard" role="tabpanel">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h2>Dashboard</h2>
                    </div>
                </div>
                <div aria-labelledby="storage" class="tab-pane fade" id="storage" role="tabpanel">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h2>Manage Storages</h2>
                    </div>

                    <div id="manageStoragesButtonsWrapper">
                        <div class="nav d-flex flex-row-reverse bd-highlight">
                            <a aria-selected="false" class="btn btn-outline-secondary" data-toggle="tab" href="#configureStorageFormWrapper"
                               id="addNewStorageButton" role="tab" type="button">
                                Add new storage
                            </a>
                            <a aria-selected="true" class="btn btn-outline-primary mr-auto active" data-toggle="tab"
                               href="#storageListWrapper"
                               id="closeAddNewStorageFormButton" role="tab" type="button">
                                Storage List
                            </a>
                        </div>
                    </div>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="storageListWrapper" role="tabpanel">
                            <div id="storageListTable">
                                <table class="table table-hover table-bordered">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th class="col-md-2" scope="col">Storage</th>
                                        <th class="col-md-6" scope="col">Description</th>
                                        <th class="col-md-3" scope="col">Creation time</th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="storage: ${storageList}" th:object="${storage}">
                                        <th scope="row" th:text="*{type}"></th>
                                        <td th:text="*{desc}"></td>
                                        <td th:text="*{time}"></td>
                                        <td>
                                            <div class="d-flex flex-row-reverse bd-highlight">
                                                <form th:action="@{/storage}" th:method="delete">
                                                    <input hidden th:name="settingsName" th:value="*{settingsName}" type="text">
                                                    <button class="btn btn-secondary" type="submit">
                                                        Remove
                                                    </button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="configureStorageFormWrapper" role="tabpanel">
                            <form action="/storage" id="configureStorageForm" method="post">
                                <div class="form-group">
                                    <label for="configureStorage.selectStorage">Select Storage</label>
                                    <select class="form-control" id="configureStorage.selectStorage" name="storageType">
                                        <option disabled selected value="">Select Storage</option>
                                        <option id="localFileSystemStorageSelect" value="localFileSystem">Local File System</option>
                                        <option id="dropboxStorageSelect" value="dropbox">Dropbox</option>
                                    </select>
                                </div>

                                <div class="form-group" id="commonStorageInputFields">
                                    <label for="createStorageSettingsNameInput">Settings name</label>
                                    <input class="form-control form-control-sm" id="createStorageSettingsNameInput" name="settingsName"
                                           placeholder="" type="text">
                                </div>

                                <!--Storage select based content-->
                                <div id="selectStorageContent">
                                    <div class="localFileSystemStorageSelect box">
                                        <div class="form-group">
                                            <label for="localFileSystemStorageBackupPathInput">Backup location</label>
                                            <input aria-describedby="localFileSystemStorageBackupPathHelp"
                                                   class="form-control form-control-sm"
                                                   id="localFileSystemStorageBackupPathInput"
                                                   name="localFileSystemSettings.backupPath"
                                                   placeholder=""
                                                   type="text">
                                            <small class="form-text text-muted" id="localFileSystemStorageBackupPathHelp">
                                                Absolute path to folder where backup should be saved into
                                            </small>
                                        </div>
                                    </div>
                                    <div class="dropboxStorageSelect box">
                                        <div class="form-group">
                                            <label for="dropboxStorageAccessTokenInput">Dropbox access token</label>
                                            <input aria-describedby="dropboxStorageAccessTokenHelp" class="form-control form-control-sm"
                                                   id="dropboxStorageAccessTokenInput"
                                                   name="dropboxSettings.accessToken" placeholder=""
                                                   type="text">
                                            <small class="form-text text-muted" id="dropboxStorageAccessTokenHelp">
                                                You can get access token from the app page on Dropbox
                                            </small>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary" type="submit">Create storage</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div aria-labelledby="database" class="tab-pane fade" id="database" role="tabpanel">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h2>Manage Databases</h2>
                    </div>

                    <div id="manageDatabasesButtonsWrapper">
                        <div class="nav d-flex flex-row-reverse bd-highlight">
                            <a aria-selected="false" class="btn btn-outline-secondary" data-toggle="tab"
                               href="#configureDatabaseFormWrapper"
                               id="addNewDatabaseButton" role="tab" type="button">
                                Add new database
                            </a>
                            <a aria-selected="true" class="btn btn-outline-primary mr-auto active" data-toggle="tab"
                               href="#databaseListWrapper"
                               id="closeAddNewDatabaseFormButton" role="tab" type="button">
                                Database List
                            </a>
                        </div>
                    </div>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="databaseListWrapper" role="tabpanel">
                            <div id="databaseListTable">
                                <table class="table table-hover table-bordered">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th class="col-md-2" scope="col">Database</th>
                                        <th class="col-md-6" scope="col">Description</th>
                                        <th class="col-md-3" scope="col">Creation time</th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="database: ${databaseList}" th:object="${database}">
                                        <th scope="row" th:text="*{type}"></th>
                                        <td th:text="*{desc}"></td>
                                        <td th:text="*{time}"></td>
                                        <td>
                                            <div class="d-flex flex-row-reverse bd-highlight">
                                                <form th:action="@{/database}" th:method="delete">
                                                    <input hidden th:name="settingsName" th:value="*{settingsName}" type="text">
                                                    <button class="btn btn-secondary" type="submit">
                                                        Remove
                                                    </button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="configureDatabaseFormWrapper" role="tabpanel">
                            <form action="/database" id="configureDatabaseForm" method="post">
                                <div class="form-group">
                                    <label for="configureDatabase-selectDatabase">Select Database</label>
                                    <select class="form-control" id="configureDatabase-selectDatabase" name="databaseType">
                                        <option disabled selected value="">Select Database</option>
                                        <option id="postgresDatabaseSelect" value="postgres">Postgres</option>
                                    </select>
                                </div>

                                <div class="form-group" id="commonDatabaseInputFields">
                                    <label for="createDatabaseSettingsNameInput">Settings name</label>
                                    <input class="form-control form-control-sm" id="createDatabaseSettingsNameInput" name="settingsName"
                                           placeholder="" type="text">
                                    <label for="createDatabaseHostInput">Host</label>
                                    <input class="form-control form-control-sm" id="createDatabaseHostInput" name="host"
                                           placeholder="" type="text">
                                    <label for="createDatabasePortInput">Port</label>
                                    <input class="form-control form-control-sm" id="createDatabasePortInput" name="port"
                                           placeholder="" type="text">
                                    <label for="createDatabaseNameInput">Database name</label>
                                    <input class="form-control form-control-sm" id="createDatabaseNameInput" name="databaseName"
                                           placeholder="" type="text">
                                    <label for="createDatabaseLoginInput">Database login</label>
                                    <input class="form-control form-control-sm" id="createDatabaseLoginInput" name="login"
                                           placeholder="" type="text">
                                    <label for="createDatabasePasswordInput">Database password</label>
                                    <input class="form-control form-control-sm" id="createDatabasePasswordInput" name="password"
                                           placeholder=""
                                           type="text">
                                </div>

                                <!--Database select based content-->
                                <div id="selectDatabaseContent">
                                    <div class="postgresDatabaseSelect box">

                                    </div>
                                </div>
                                <button class="btn btn-primary" type="submit">Create database</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div aria-labelledby="create-backup" class="tab-pane fade" id="create-backup" role="tabpanel">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h2>Create Backup</h2>
                    </div>

                    <form action="#" id="createBackupForm" method="post" th:action="@{/create-backup}"
                          th:object="${webCreateBackupRequest}">
                        <div class="form-group">
                            <label for="createBackup-selectDatabase">Select database to backup</label>
                            <select th:class="'form-control ' + (${#fields.hasErrors('databaseSettingsName')} ? 'is-invalid')"
                                    id="createBackup-selectDatabase" th:field="*{databaseSettingsName}">
                                <option selected value="">Select Database</option>
                                <option th:each="database: ${databaseList}" th:text="${'Database: ' + database.type +
                                        ' | Details: ' + database.desc +
                                        ' | Creation time: ' + database.time}"
                                        th:value="${database.settingsName}">
                                </option>
                            </select>
                            <div th:if="${#fields.hasErrors('databaseSettingsName')}" th:errors="*{databaseSettingsName}"
                                 class="invalid-feedback"></div>
                        </div>

                        <label for="selectStorageForBackupList">Select storage</label>
                        <table class="table table-hover table-bordered" id="selectStorageForBackupList">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col"></th>
                                <th class="col-md-2" scope="col">Storage</th>
                                <th class="col-md-5" scope="col">Description</th>
                                <th class="col-md-3" scope="col">Creation time</th>
                                <th class="col-md-1" scope="col">Compress</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="storage, iterStat: ${storageList}">
                                <td>
                                    <div class="input-group">
                                        <input th:name="|backupCreationProperties[${storage.settingsName}].storageSettingsName|"
                                               th:value="${storage.settingsName}"
                                               type="checkbox">
                                    </div>
                                </td>
                                <th scope="row" th:text="${storage.type}"></th>
                                <td th:text="${storage.desc}"></td>
                                <td th:text="${storage.time}"></td>
                                <td>
                                    <div class="form-check form-group">
                                        <input class="form-check-input"
                                               th:name="|backupCreationProperties[${storage.settingsName}].processors|"
                                               th:value="'Compressor'"
                                               type="checkbox">
                                    </div>
                            </tr>
                            </tbody>
                        </table>
                        <button class="btn btn-primary" type="submit">Backup</button>
                    </form>
                </div>
                <div aria-labelledby="restore-backup" class="tab-pane fade" id="restore-backup" role="tabpanel">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h2>Restore Backup</h2>
                    </div>

                    <form id="restoreBackupForm" method="post" th:action="@{/restore-backup}">

                        <div class="form-group">
                            <label for="restoreBackup-selectBackup">Select backup to restore from</label>
                            <select class="form-control" id="restoreBackup-selectBackup" name="backupId">
                                <option disabled selected value="">Select Backup</option>
                                <option th:each="backup: ${backupList}" th:object="${backup}" th:text="${'Backup name: ' + backup.name + ' | Details: ' + backup.desc +
                                        ' | Creation time: ' + backup.time}"
                                        th:value="*{id}">
                                </option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label for="restoreBackup-selectDatabase">Select database to restore to</label>
                            <select class="form-control" id="restoreBackup-selectDatabase" name="databaseSettingsName">
                                <option disabled selected value="">Select Database</option>
                                <option th:each="database: ${databaseList}" th:object="${database}"
                                        th:text="${'Database type: ' + database.type.toString() + ' | Details: ' + database.desc}"
                                        th:value="*{settingsName}">
                                </option>
                            </select>
                        </div>

                        <button class="btn btn-primary" type="submit">Restore</button>
                    </form>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="js/jquery-3.3.1.min.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/selectContentShow.js"></script>
</body>
</html>