<!DOCTYPE html>
<html lang=en xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta content="text/html; charset=UTF-8" http-equiv="content-type">
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta content="" name="description">
    <title>Dashboard - Database Backup Tool</title>

    <link href="css/bootstrap.css" rel="stylesheet">
    <link href="css/dashboard.css" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="/dashboard">Database Backup Tool</a>
    <input aria-label="Search" class="form-control form-control-dark w-100" placeholder="Search" type="text">
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a class="nav-link" href="/api/logout">Log out</a>
        </li>
    </ul>
</nav>

<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav nav-tabs flex-column" id="barTabs" role="tablist">
                    <li class="nav-item">
                        <a aria-controls="dashboard" aria-selected="true" class="nav-link active" data-toggle="tab" href="#dashboard"
                           id="dashboard-tab" role="tab">
                            <img alt="" height="20px" src="/images/home-tab-icon.png" width="20px">
                            Home <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a aria-controls="storage" aria-selected="false" class="nav-link" data-toggle="tab" href="#storage"
                           id="storage-tab" role="tab">
                            <img alt="" height="20px" src="/images/storage-tab-icon.png" width="20px">
                            Manage storages
                        </a>
                    </li>
                    <li class="nav-item">
                        <a aria-controls="database" aria-selected="false" class="nav-link" data-toggle="tab" href="#database"
                           id="database-tab" role="tab">
                            <img alt="" height="20px" src="/images/database-tab-icon.png" width="20px">
                            Manage databases
                        </a>
                    </li>
                    <li class="nav-item">
                        <a aria-controls="backups" aria-selected="false" class="nav-link" data-toggle="tab" href="#backups"
                           id="backupts-tab" role="tab">
                            <img alt="" height="20px" src="/images/manage-backups-icon.png" width="20px">
                            Manage backups
                        </a>
                    </li>
                    <li class="nav-item">
                        <a aria-controls="create-backup" aria-selected="false" class="nav-link" data-toggle="tab" href="#create-backup"
                           id="create-backup-tab" role="tab">
                            <img alt="" height="20px" src="/images/createBackup-tab-icon.png" width="20px">
                            Create Backup
                        </a>
                    </li>
                    <li class="nav-item">
                        <a aria-controls="restore-backup" aria-selected="false" class="nav-link" data-toggle="tab" href="#restore-backup"
                           id="restore-backup-tab" role="tab">
                            <img alt="" height="20px" src="/images/restoreBackup-tab-icon.png" width="20px">
                            Restore Backup
                        </a>
                    </li>
                    <li class="nav-item">
                        <a aria-controls="add-planned-task" aria-selected="false" class="nav-link" data-toggle="tab"
                           href="#add-planned-task"
                           id="add-planned-task-tab" role="tab">
                            <img alt="" height="20px" src="/images/add-planned-task-tab-icon.png" width="20px">
                            Add planned task
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <main class="col-md-9 ml-sm-auto col-lg-10 px-4" role="main">
            <!--Tab Content-->
            <div class="tab-content" id="barTabsContent">
                <div aria-labelledby="dashboard" class="tab-pane fade show active" id="dashboard" role="tabpanel">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h2>Dashboard</h2>
                    </div>

                    <div id="backupTasksTable">
                        <table class="table table-hover table-bordered">
                            <thead class="thead-dark">
                            <tr>
                                <th class="col-md-2" scope="col">Task</th>
                                <th class="col-md-6" scope="col">State</th>
                                <th class="col-md-3" scope="col">Creation time</th>
                            </tr>
                            </thead>
                            <tbody id="backupTasksTableBody">
                            <tr th:each="backupTask: ${backupTasks}" th:object="${backupTask}">
                                <th scope="row" th:text="*{type}"></th>
                                <td th:text="*{state}"></td>
                                <td th:text="*{time}"></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div aria-labelledby="storage" class="tab-pane fade" id="storage" role="tabpanel">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h2>Manage Storages</h2>
                    </div>

                    <div id="manageStoragesButtonsWrapper">
                        <div class="nav d-flex flex-row-reverse bd-highlight">
                            <a aria-selected="false" class="btn btn-outline-secondary" data-toggle="tab" href="#configureStorageFormWrapper"
                               id="addNewStorageButton" role="tab" type="button">
                                Add new storage
                            </a>
                            <a aria-selected="true" class="btn btn-outline-primary mr-auto active" data-toggle="tab"
                               href="#storageListWrapper"
                               id="closeAddNewStorageFormButton" role="tab" type="button">
                                Storage List
                            </a>
                        </div>
                    </div>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="storageListWrapper" role="tabpanel">
                            <div id="storageListTable">
                                <table class="table table-hover table-bordered">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th class="col-md-2" scope="col">Storage</th>
                                        <th class="col-md-6" scope="col">Description</th>
                                        <th class="col-md-3" scope="col">Creation time</th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="storage: ${storageList}" th:object="${storage}">
                                        <th scope="row" th:text="*{type}">Type</th>
                                        <td th:text="*{desc}">Desc</td>
                                        <td th:text="*{time}">Time</td>
                                        <td>
                                            <div class="d-flex flex-row-reverse bd-highlight">
                                                <form th:action="@{/storage}" th:method="delete">
                                                    <input hidden th:name="settingsName" th:value="*{settingsName}">
                                                    <button class="btn btn-secondary" type="submit">
                                                        Remove
                                                    </button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="configureStorageFormWrapper" role="tabpanel">
                            <form action="#" id="configureStorageForm" th:action="@{/storage}" th:method="post"
                                  th:object="${webAddStorageRequest}">
                                <div class="form-group">
                                    <label for="configureStorage.selectStorage">Select Storage</label>
                                    <select class="form-control" id="configureStorage.selectStorage" th:errorclass="is-invalid"
                                            th:field="*{storageType}">
                                        <option selected value="">Select Storage</option>
                                        <option id="localFileSystemStorageSelect"
                                                th:value="${T(com.blog.entities.storage.StorageType).LOCAL_FILE_SYSTEM.storageAsString}">
                                            Local File System
                                        </option>
                                        <option id="dropboxStorageSelect"
                                                th:value="${T(com.blog.entities.storage.StorageType).DROPBOX.storageAsString}">
                                            Dropbox
                                        </option>
                                    </select>
                                    <div class="invalid-feedback" th:errors="*{storageType}"
                                         th:if="${#fields.hasErrors('storageType')}"></div>
                                </div>

                                <div id="commonStorageInputFields">
                                    <div class="form-group">
                                        <label for="createStorageSettingsNameInput">Settings name</label>
                                        <input class="form-control form-control-sm" id="createStorageSettingsNameInput"
                                               placeholder="" th:errorclass="is-invalid" th:field="*{settingsName}" type="text">
                                        <div class="invalid-feedback" th:errors="*{settingsName}"
                                             th:if="${#fields.hasErrors('settingsName')}"></div>
                                    </div>
                                </div>

                                <!--Storage select based content-->
                                <div id="selectStorageContent">
                                    <div class="localFileSystemStorageSelect box">
                                        <div class="form-group">
                                            <label for="localFileSystemStorageBackupPathInput">Backup location</label>
                                            <input aria-describedby="localFileSystemStorageBackupPathHelp"
                                                   class="form-control form-control-sm"
                                                   id="localFileSystemStorageBackupPathInput"
                                                   placeholder=""
                                                   th:errorclass="is-invalid"
                                                   th:field="*{localFileSystemSettings.backupPath}" type="text">
                                            <small class="form-text text-muted" id="localFileSystemStorageBackupPathHelp">
                                                Absolute path to folder where backup should be saved into
                                            </small>
                                            <div class="invalid-feedback"
                                                 th:errors="*{localFileSystemSettings.backupPath}"
                                                 th:if="${#fields.hasErrors('localFileSystemSettings.backupPath')}"></div>
                                        </div>
                                    </div>
                                    <div class="dropboxStorageSelect box">
                                        <div class="form-group">
                                            <label for="dropboxStorageAccessTokenInput">Dropbox access token</label>
                                            <input aria-describedby="dropboxStorageAccessTokenHelp" class="form-control form-control-sm"
                                                   id="dropboxStorageAccessTokenInput"
                                                   placeholder="" th:errorclass="is-invalid"
                                                   th:field="*{dropboxSettings.accessToken}" type="text">
                                            <small class="form-text text-muted" id="dropboxStorageAccessTokenHelp">
                                                You can get access token from the app page on Dropbox
                                            </small>
                                            <div class="invalid-feedback"
                                                 th:errors="*{dropboxSettings.accessToken}"
                                                 th:if="${#fields.hasErrors('dropboxSettings.accessToken')}"></div>
                                        </div>
                                    </div>
                                </div>
                                <button class="btn btn-primary" type="submit">Create storage</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div aria-labelledby="database" class="tab-pane fade" id="database" role="tabpanel">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h2>Manage Databases</h2>
                    </div>

                    <div id="manageDatabasesButtonsWrapper">
                        <div class="nav d-flex flex-row-reverse bd-highlight">
                            <a aria-selected="false" class="btn btn-outline-secondary" data-toggle="tab"
                               href="#configureDatabaseFormWrapper"
                               id="addNewDatabaseButton" role="tab" type="button">
                                Add new database
                            </a>
                            <a aria-selected="true" class="btn btn-outline-primary mr-auto active" data-toggle="tab"
                               href="#databaseListWrapper"
                               id="closeAddNewDatabaseFormButton" role="tab" type="button">
                                Database List
                            </a>
                        </div>
                    </div>

                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="databaseListWrapper" role="tabpanel">
                            <div id="databaseListTable">
                                <table class="table table-hover table-bordered">
                                    <thead class="thead-dark">
                                    <tr>
                                        <th class="col-md-2" scope="col">Database</th>
                                        <th class="col-md-6" scope="col">Description</th>
                                        <th class="col-md-3" scope="col">Creation time</th>
                                        <th scope="col"></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="database: ${databaseList}" th:object="${database}">
                                        <th scope="row" th:text="*{type}">Type</th>
                                        <td th:text="*{desc}">Desc</td>
                                        <td th:text="*{time}">Time</td>
                                        <td>
                                            <div class="d-flex flex-row-reverse bd-highlight">
                                                <form th:action="@{/database}" th:method="delete">
                                                    <input hidden th:name="settingsName" th:value="*{settingsName}" type="text">
                                                    <button class="btn btn-secondary" type="submit">
                                                        Remove
                                                    </button>
                                                </form>
                                            </div>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="configureDatabaseFormWrapper" role="tabpanel">
                            <form action="#" id="configureDatabaseForm" method="post" th:action="@{/database}"
                                  th:object="${webAddDatabaseRequest}">
                                <div class="form-group">
                                    <label for="configureDatabase-selectDatabase">Select Database</label>
                                    <select class="form-control" id="configureDatabase-selectDatabase" th:errorclass="is-invalid"
                                            th:field="*{databaseType}">
                                        <option selected value="">Select Database</option>
                                        <option id="postgresDatabaseSelect"
                                                th:value="${T(com.blog.entities.database.DatabaseType).POSTGRES.databaseAsString}">Postgres
                                        </option>
                                    </select>
                                    <div class="invalid-feedback" th:errors="*{databaseType}"
                                         th:if="${#fields.hasErrors('databaseType')}"></div>
                                </div>

                                <div id="commonDatabaseInputFields">
                                    <div class="form-group">
                                        <label for="createDatabaseSettingsNameInput">Settings name</label>
                                        <input class="form-control form-control-sm" id="createDatabaseSettingsNameInput"
                                               placeholder=""
                                               th:errorclass="is-invalid" th:field="*{settingsName}" type="text">
                                        <div class="invalid-feedback" th:errors="*{settingsName}"
                                             th:if="${#fields.hasErrors('settingsName')}"></div>
                                    </div>

                                    <div class="form-group">
                                        <label for="createDatabaseHostInput">Host</label>
                                        <input class="form-control form-control-sm" id="createDatabaseHostInput"
                                               placeholder=""
                                               th:errorclass="is-invalid" th:field="*{host}" type="text">
                                        <div class="invalid-feedback" th:errors="*{host}"
                                             th:if="${#fields.hasErrors('host')}"></div>
                                    </div>

                                    <div class="form-group">
                                        <label for="createDatabasePortInput">Port</label>
                                        <input class="form-control form-control-sm" id="createDatabasePortInput"
                                               placeholder=""
                                               th:errorclass="is-invalid" th:field="*{port}" type="text">
                                        <div class="invalid-feedback" th:errors="*{port}"
                                             th:if="${#fields.hasErrors('port')}"></div>
                                    </div>

                                    <div class="form-group">
                                        <label for="createDatabaseNameInput">Database name</label>
                                        <input class="form-control form-control-sm" id="createDatabaseNameInput"
                                               placeholder=""
                                               th:errorclass="is-invalid" th:field="*{databaseName}" type="text">
                                        <div class="invalid-feedback" th:errors="*{databaseName}"
                                             th:if="${#fields.hasErrors('databaseName')}"></div>
                                    </div>

                                    <div class="form-group">
                                        <label for="createDatabaseLoginInput">Database login</label>
                                        <input class="form-control form-control-sm" id="createDatabaseLoginInput"
                                               placeholder=""
                                               th:errorclass="is-invalid" th:field="*{login}" type="text">
                                        <div class="invalid-feedback" th:errors="*{login}"
                                             th:if="${#fields.hasErrors('login')}"></div>
                                    </div>

                                    <div class="form-group">
                                        <label for="createDatabasePasswordInput">Database password</label>
                                        <input class="form-control form-control-sm" id="createDatabasePasswordInput"
                                               placeholder=""
                                               th:errorclass="is-invalid"
                                               th:field="*{password}" type="text">
                                        <div class="invalid-feedback" th:errors="*{password}"
                                             th:if="${#fields.hasErrors('password')}"></div>
                                    </div>
                                </div>

                                <!--Database select based content-->
                                <div id="selectDatabaseContent">
                                    <div class="postgresDatabaseSelect box">

                                    </div>
                                </div>
                                <button class="btn btn-primary" type="submit">Create database</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div aria-labelledby="backups" class="tab-pane fade" id="backups" role="tabpanel">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h2>Manage Backups</h2>
                    </div>

                    <div id="backupListTable">
                        <table class="table table-hover table-bordered">
                            <thead class="thead-dark">
                            <tr>
                                <th class="col-md-2" scope="col">Name</th>
                                <th class="col-md-5" scope="col">Properties</th>
                                <th class="col-md-3" scope="col">Storage List</th>
                                <th class="col-md-3" scope="col">Creation time</th>
                                <th scope="col"></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="backup: ${backupList}" th:object="${backup}">
                                <th scope="row" th:text="*{name}">Name</th>
                                <td th:text="*{desc}">Desc</td>
                                <td th:text="*{storageSettingsNames}">Storage List</td>
                                <td th:text="*{time}">Time</td>
                                <td>
                                    <div class="d-flex flex-row-reverse bd-highlight">
                                        <form th:action="@{/delete-backup}" th:method="delete">
                                            <input hidden th:name="backupId" th:value="*{id}" type="text">
                                            <button class="btn btn-secondary" type="submit">
                                                Delete
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <div aria-labelledby="create-backup" class="tab-pane fade" id="create-backup" role="tabpanel">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h2>Create Backup</h2>
                    </div>

                    <form action="#" id="createBackupForm" th:action="@{/create-backup}" th:method="post"
                          th:object="${webCreateBackupRequest}">
                        <div class="form-group">
                            <label for="createBackup-selectDatabase">Select database to backup</label>
                            <select class="form-control" id="createBackup-selectDatabase"
                                    th:errorclass="is-invalid" th:field="*{databaseSettingsName}">
                                <option selected value="">Select Database</option>
                                <option th:each="database : ${databaseList}" th:text="${'Database: ' + database.type.toString() +
                                        ' | Details: ' + database.desc +
                                        ' | Creation time: ' + database.time}"
                                        th:value="${database.settingsName}">
                                </option>
                            </select>
                            <div class="invalid-feedback" th:errors="*{databaseSettingsName}"
                                 th:if="${#fields.hasErrors('databaseSettingsName')}"></div>
                        </div>

                        <label for="createBackup-selectStorage">Select storage</label>
                        <div class="invalid-feedback d-inline" th:errors="*{storageSettingsNameList}"
                             th:if="${#fields.hasErrors('storageSettingsNameList')}"></div>
                        <table class="table table-hover table-bordered" id="createBackup-selectStorage">
                            <thead class="thead-dark">
                            <tr>
                                <th class="col-md-1" scope="col"></th>
                                <th class="col-md-2" scope="col">Storage</th>
                                <th class="col-md-5" scope="col">Description</th>
                                <th class="col-md-3" scope="col">Creation time</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="storage: ${storageList}">
                                <td>
                                    <div class="custom-checkbox custom-control mb-3">
                                        <input class="custom-control-input" th:field="*{storageSettingsNameList}"
                                               th:id="'select'+${storage.settingsName}" th:value="${storage.settingsName}" type="checkbox">
                                        <label class="custom-control-label" th:for="'select'+${storage.settingsName}"></label>
                                    </div>
                                </td>
                                <th scope="row" th:text="${storage.type}"></th>
                                <td th:text="${storage.desc}"></td>
                                <td th:text="${storage.time}"></td>
                            </tr>
                            </tbody>
                        </table>

                        <p>Apply Processors:</p>
                        <div class="form-group form-check custom-checkbox custom-control mb-3" id="createBackup-selectProcessors">
                            <input class="custom-control-input" id="createBackup-selectProcessors-compressor" th:field="*{processors}"
                                   th:value="Compressor" type="checkbox">
                            <label class="custom-control-label" for="createBackup-selectProcessors-compressor">Compressor</label>
                        </div>

                        <button class="btn btn-primary" type="submit">Backup</button>
                    </form>
                </div>
                <div aria-labelledby="restore-backup" class="tab-pane fade" id="restore-backup" role="tabpanel">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h2>Restore Backup</h2>
                    </div>

                    <form action="#" id="restoreBackupForm" th:action="@{/restore-backup}" th:method="post"
                          th:object="${webRestoreBackupRequest}">

                        <label for="restoreBackup-selectBackup">Select backup and storage to restore from</label>
                        <div class="invalid-feedback" th:errors="*{backupId}"
                             th:if="${#fields.hasErrors('backupId')}"></div>
                        <div class="invalid-feedback d-inline" th:errors="*{storageSettingsName}"
                             th:if="${#fields.hasErrors('storageSettingsName')}"></div>
                        <table class="table table-hover table-bordered" id="restoreBackup-selectBackup">
                            <thead class="thead-dark">
                            <tr>
                                <th class="col-md-1" scope="col"></th>
                                <th class="col-md-2" scope="col">Name</th>
                                <th class="col-md-4" scope="col">Description</th>
                                <th class="col-md-3" scope="col">Storages</th>
                                <th class="col-md-4" scope="col">Creation time</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="backup: ${backupList}">
                                <td>
                                    <div class="custom-control custom-radio">
                                        <input class="custom-control-input" th:field="*{backupId}"
                                               th:id="'restoreBackup-selectBackupId-'+${backup.id}" th:value="${backup.id}" type="radio">
                                        <label class="custom-control-label" th:for="'restoreBackup-selectBackupId-'+${backup.id}"></label>
                                    </div>
                                </td>
                                <th scope="row" th:text="${backup.name}"></th>
                                <td th:text="${backup.desc}"></td>
                                <td>
                                    <ul>
                                        <li th:each="storageName : ${backup.storageSettingsNames}">
                                            <div class="custom-control custom-radio">
                                                <input class="custom-control-input" th:field="*{storageSettingsName}"
                                                       th:id="'restoreBackup-selectBackupId-'+${backup.id}+'-selectStorage-'+${storageName}"
                                                       th:value="${storageName}"
                                                       type="radio">
                                                <label class="custom-control-label"
                                                       th:for="'restoreBackup-selectBackupId-'+${backup.id}+'-selectStorage-'+${storageName}"
                                                       th:text="${storageName}"></label>
                                            </div>
                                        </li>
                                    </ul>
                                </td>
                                <td th:text="${backup.time}"></td>
                            </tr>
                            </tbody>
                        </table>

                        <div class="form-group">
                            <label for="restoreBackup-selectDatabase">Select database to restore to</label>
                            <select class="form-control" id="restoreBackup-selectDatabase" th:errorclass="is-invalid"
                                    th:field="*{databaseSettingsName}">
                                <option selected value="">Select Database</option>
                                <option th:each="database: ${databaseList}"
                                        th:text="${'Database type: ' + database.type.toString() + ' | Details: ' + database.desc}"
                                        th:value="${database.settingsName}">
                                </option>
                            </select>
                            <div class="invalid-feedback" th:errors="*{databaseSettingsName}"
                                 th:if="${#fields.hasErrors('databaseSettingsName')}"></div>
                        </div>

                        <button class="btn btn-primary" type="submit">Restore</button>
                    </form>
                </div>
                <div aria-labelledby="add-planned-task" class="tab-pane fade" id="add-planned-task" role="tabpanel">
                    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
                        <h2>Add planned task</h2>
                    </div>

                    <form action="#" id="addPlannedTaskForm" th:action="@{/add-planned-task}" th:method="post"
                          th:object="${webAddPlannedTaskRequest}">
                        <div class="form-group">
                            <label for="addPlannedTask-selectDatabase">Select database to backup</label>
                            <select class="form-control" id="addPlannedTask-selectDatabase"
                                    th:errorclass="is-invalid" th:field="*{databaseSettingsName}">
                                <option selected value="">Select Database</option>
                                <option th:each="database: ${databaseList}" th:text="${'Database: ' + database.type +
                                        ' | Details: ' + database.desc +
                                        ' | Creation time: ' + database.time}"
                                        th:value="${database.settingsName}">
                                </option>
                            </select>
                            <div class="invalid-feedback" th:errors="*{databaseSettingsName}"
                                 th:if="${#fields.hasErrors('databaseSettingsName')}"></div>
                        </div>

                        <label for="addPlannedTask-selectStorage">Select storage</label>
                        <div class="invalid-feedback d-inline" th:errors="*{storageSettingsNameList}"
                             th:if="${#fields.hasErrors('storageSettingsNameList')}"></div>
                        <table class="table table-hover table-bordered" id="addPlannedTask-selectStorage">
                            <thead class="thead-dark">
                            <tr>
                                <th scope="col"></th>
                                <th class="col-md-2" scope="col">Storage</th>
                                <th class="col-md-5" scope="col">Description</th>
                                <th class="col-md-3" scope="col">Creation time</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="storage: ${storageList}">
                                <td>
                                    <div class="input-group">
                                        <input th:field="*{storageSettingsNameList}" th:value="${storage.settingsName}" type="checkbox">
                                    </div>
                                </td>
                                <th scope="row" th:text="${storage.type}"></th>
                                <td th:text="${storage.desc}"></td>
                                <td th:text="${storage.time}"></td>
                            </tr>
                            </tbody>
                        </table>

                        <p>Apply Processors:</p>
                        <div class="form-group form-check" id="addPlannedTask-selectProcessors">
                            <input class="form-check-input" id="addPlannedTask-selectProcessors-compressor" th:field="*{processors}"
                                   th:value="Compressor" type="checkbox">
                            <label class="form-check-label" for="addPlannedTask-selectProcessors-compressor">Compressor</label>
                        </div>

                        <div class="form-group">
                            <label for="addPlannedTask-inputInterval">Period</label>
                            <div class="invalid-feedback d-inline" th:errors="*{interval}"
                                 th:if="${#fields.hasErrors('interval')}"></div>
                            <input aria-describedby="addPlannedTask-inputInterval-help" class="form-control"
                                   id="addPlannedTask-inputInterval"
                                   placeholder="Enter interval" th:field="*{interval}"
                                   type="text">
                            <small class="form-text text-muted" id="addPlannedTask-inputInterval-help">Input period in seconds.</small>
                        </div>

                        <button class="btn btn-primary" type="submit">Backup</button>
                    </form>
                </div>
            </div>
        </main>
    </div>
</div>
<script src="/js/jquery-3.3.1.min.js"></script>
<script src="/js/bootstrap.js"></script>
<script src="/js/selectContentShow.js"></script>
<script src="/js/dashboard.js"></script>
</body>
</html>