<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Error - Database Backup Tool</title>
    <link href="/static/css/bootstrap.css" rel="stylesheet" th:href="@{css/bootstrap.css}">
    <link href="/static/css/dashboard.css" rel="stylesheet" th:href="@{css/dashboard.css}">
    <link href="/static/css/error.css" rel="stylesheet" th:href="@{css/error.css}">
</head>
<body>

<div class="page-wrap d-flex flex-row align-items-center">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-12 text-center">
                <span class="display-1 d-block" th:text="${errorCode}">500</span>
                <div class="mb-4 lead" th:text="${errorMessage}">Oops! Something went wrong</div>
                <a class="btn btn-link" href="/">Back to Home</a>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/jquery-3.3.1.min.js"></script>
</body>
</html>